html
  body
    h1 Welcome to the Art Blocks API/server.
    br
    ul
    li Overall platform information: https://api.artblocks.io/platform
    li Project dashboard displays current details for each project: https://api.artblocks.io/project/[PROJECT ID GOES HERE]
    li Token URI displays all relevant token data: https://api.artblocks.io/token/[TOKEN ID GOES HERE]
    li Token Image displays a server side rendered (and cached) image of the token: https://api.artblocks.io/image/[TOKEN ID GOES HERE]
    li Generator enters live script for each token injecting the project script, token stored hashes, and the script library (stored locally of via CDN): https://api.artblocks.io/generator/[TOKEN ID GOES HERE]
    li If token is a VOX model it will be served directly by: https://api.artblocks.io/vox/[TOKEN ID GOES HERE]
    p Contact: info@artblocks.io
